{
  "parserOptions": {
      "ecmaVersion": 6,
      "sourceType": "module",
      "ecmaFeatures": {
          "jsx": true
      }
  },
  "rules": {
      "semi": "error",
      "eol-last": "error",
      "no-trailing-spaces": "error",
      "arrow-spacing": "error",
      "indent": ["error", 2],
      "quotes": [2, "single"]
  }
}